@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* reset */
body {
    font-size: 16px;
    line-height: 20px;
    font-family: 'SpoqaHanSansNeo-Regular';
}
a {
    text-decoration: none;
    color: #767676;
}
.blind {
    border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.modal {
    max-width: 520px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
}

/* header */
.tit {
    overflow: hidden;
    text-align: center;
    border-bottom: 1px solid #c4c4c4 ;
    font-weight: bold;
    padding: 20px 24px 18px 0;
}
.tit-desc {
    display: inline;
}

.btn-close {
    width: 16px;
    height: 16px;
    float: right;
}

/* login */
.login {
    padding:  26px 24px 0 24px;
}
.login-tit {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 24px;
}
.inp {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding-left: 16px;

    font-family: SpoqaHanSansNeo-Regular;    

    width: 472px;
    height: 50px;

    font-size: 16px;

    margin-bottom: 10px;

    box-sizing: border-box;
}

.inp-pw {
    margin-bottom: 21px;
}

.btn-stay {
    display: inline-block;
    margin-bottom: 21px;
    color: #767676;
}

.btn-stay::before {
    display: inline-block;
    content: '';
    width: 22px;
    height: 22px;
    background-image: url(../check-box-unchecked.png);
    background-size: 22px;
    vertical-align: middle;
    margin-right: 8px;
}
.btn-stay:checked + .btn-stay::before {
    background-image: url(../check-box-checked.png);
}

.btn-login {
    display: block;

    width: 472px;
    height: 50px;

    background-color: #2F80ED;
    color: #fff;
    border: none;

    font-size: 18px;
    font-weight: bold;
    /* text-align: center; */

    border-radius: 5px;
    cursor: pointer;

    margin-bottom: 20px;
}

.contact {
    text-align: center;
    margin-bottom: 30px;
    font-size: 14px;
}
.sign-in:hover,
.find:hover {
    text-decoration: underline;
}
.sign-in::after {
    display: inline-block;
    content: '';
    width: 1px;
    height: 18px;
    background-color: #c4c4c4;
    margin-left: 12px;
    margin-right: 5px;
    vertical-align: middle;
}

.break {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.break::before,
.break::after {
    display: inline-block;
    content: '';

    width: 210px;
    height: 1px;
    background-color: #c4c4c4;

    vertical-align: middle;
}
.break::after {
    margin-left: 13px;
}    
.break::before {
    margin-right: 13px;
}

/* out login */
.out-login {
    padding: 0 24px 25px 24px;
}
.out-login li {
    margin-bottom: 10px;
}
.out-login li:last-child {
    margin-bottom: 0;
}
.btn-out-login {
    display: inline-block;
    width: 472px;
    /* height: 50px; */
    /* box-sizing: border-box; */
    border-radius: 5px;
    text-align: center;

    /* 플롯레프트를 쓰니까 모냥새가 이상해서 패딩값과 라인하이트를 수정했습니다 */
    /* 이렇게 플롯을 쓰는것이 맞을까요??? */
    padding: 11px 0 11px 12px;
    line-height: 28px;

    position: relative;

    cursor: pointer;
}
.btn-out-login.google {
    border: 1px solid #767676;
}
.btn-out-login.facebook {
    border: 1px solid #2D9CDB;
}
.btn-out-login.naver {
    border: 1px solid #00BF18;
}
.btn-out-login.kakao {
    border: 1px solid #F2C94C;
}



.btn-out-login::before{
    display: inline-block;
    content: '';
    width: 28px;
    height: 28px;
    background-size: 28px;
    
    float: left;

    /* position: absolute; */
    /* top: 11px; */
    /* left: 12px; */
}
.btn-out-login.google::before {
    background-image: url(./1.png);
}
.btn-out-login.facebook::before {
    background-image: url(./2.png);
}
.btn-out-login.naver::before {
    background-image: url(./3.png);
}
.btn-out-login.kakao::before {
    background-image: url(./4.png);
}